<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="styles/footer.css">
</head>
<body>
    <footer class="footer">
        <div class="container">
            <p>&copy; <span id="currentYear"> <%= new Date().getFullYear() %></span> THINKLINE. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>




