<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/styles/header.css">
    
</head>
<body>

<div class="navbar">
    <div class="navbar-left">
        <a href="/home">THINKLINE</a>
    </div>
    <div class="navbar-right">
        <a href="/blog">BLOGS</a>
    </div>
</div>

</body>
</html>
