<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <nav class=" pb-4 navbar bg-body-tertiary">
        <div class=" mt-2 container-fluid">
          <a class="navbar-brand fw-bold text-primary-emphasis"  href="/views/home.ejs">THINKLINE</a>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Blogs</button>
            
          </form>
          
        </div>
      </nav>
</body>
</html>