<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THINKLINE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js
    ">
</head>
<body class="mt-4 bg-light ">
    <!-- views/home.ejs -->

    <!-- NAVBAR -->
      <%- include("header") %>


    
    <!-- BODY -->
    <div  class="d-grid gap-2  mx-auto p-2 col-4 mt-5 pt-5">
        <h1 class="mx-auto  text-body-secondary ">THINKLINE</h1>
        <p class="mx-auto fs-5 text-primary-emphasis ">“Bridging the Gap Between Thought and Expression”</p>
        
        <a href="/create-post" class=" mb-5  mt-5 fw-bold fs-5 btn btn-success">Get Started</a>
    </div>
    
    <!-- FOOTER -->
    <%- include("footer") %>

</body>
</html>