<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="container">
        <h2>All Blogs</h2>
        <% blogs.forEach(blog => { %>
            <div class="blog">
                <h2><a href="/view"><%= blog.title  %></a></h2>
                
            </div>
        <% }); %>
        
    </div>
    <%- include("partials/footer.ejs") %>    
</body>
</html>