

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="styles/home.css">
    
</head>
<body>
    <%- include("partials/header.ejs") %>  

    <div class="hero-section">
        <h1 class="hero-title">THINKLINE</h1>
        <p class="hero-subtitle">Inspiring Minds, Igniting Creativity</p>
        <a href="/create" class="get-started-btn">Get Started</a>
    </div>

    <%- include("partials/footer.ejs") %>
</body>
</html>



